@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;1,700&family=Ubuntu:wght@500&family=Work+Sans:wght@300&display=swap');

.App {
  background: #41295a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  min-height: 100vh;
  display: flex;
}
::-webkit-scrollbar {
  width: 0px !important;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281) !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}
